<!doctype html>
<html lang="en">
<head>
  <title>Maps</title> 
        <link rel="stylesheet" href="http://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
	<!--[if lte IE 8]>
    	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
	<![endif]-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin=""></script>
	<link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body {
    		    padding: 0;
		    margin: 0;
		}
		html, body, #map {
		    height: 100%;
		    font-family: 'Milonga', cursive;
		}
		.leaflet-container .leaflet-control-zoom {
		    margin-left: 13px;
		    margin-top: 70px;
		}
		#map { z-index: 1;}
		#title { z-index: 2; position: absolute; left: 10px; }
	</style>	
	
</head>
<body>
	<h1 id="title">Maps</h1>
	<div id="map"></div>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"
          integrity="nMxgrgYu7vo/LNe5NFHZOIkwbodaU13UdYiDoDCuo3P2sryEyffrk1R3c2tFGbZ83AqaMbO19yhKnVgHztuqAw=="
          crossorigin=""></script> 
	<script>
          //console.log("TEST");
          //async function run() {
           //try {
            // Connect the client to the server
           // await client.connect();
            // Establish and verify connection
           // await client.db(config.mongoDatabase).command({ ping: 1 });
           // console.log("Connected Successfully to server at:", config.mongoURL);
           //} finally {
            // Ensures that the client will close when you finish/error
           // await client.close();
          // }
          //}
          //run().catch(console.dir);

	  var map = L.map('map').setView([13.752558, 100.49336], 15);
	  var markerLayerGroup = L.layerGroup().addTo(map);
	  //L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	  L.tileLayer('http://{s}.tile.osm-tools.org/osm/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
	  }).addTo(map);
	  L.easyButton('<strong>B</strong>', function(btn, map){
            var bangkok = [13.752558, 100.49336];
            map.setView(bangkok, 14);
          }).addTo(map);
	  L.easyButton('<strong>V</strong>', function(btn, map){
            var villa = [40.90714, 0.822596];
            map.setView(villa, 16);
          }).addTo(map);
	  L.easyButton('<strong>E</strong>', function(btn, map){
            var ebre = [40.644414, 0.68517];
            map.setView(ebre, 14);
          }).addTo(map);
	  L.easyButton('<strong>P</strong>', function(btn, map){
            var perpignan = [42.65974, 2.88493];
            map.setView(perpignan, 17);
          }).addTo(map);

 	  // load data lane 1
          $.getJSON("lane1.geojson",function(data){
            L.geoJson(data, { "color": "#0078FF" }).addTo(map);
          }); 

 	  // load data lane 2
          $.getJSON("lane2.geojson",function(data){
            L.geoJson(data, { "color": "#FF00FF" }).addTo(map);
          }); 

	  // load GeoJSON from an external file
	  $.getJSON("poi.geojson",function(data){
	    // add GeoJSON layer to the map once the file is loaded
	    L.geoJson(data,{
	      pointToLayer: function(feature,latlng){
	        var marker = L.marker(latlng);
	        marker.bindPopup(feature.properties.Nom + '<br/>' + feature.properties.Lieu + '<br/>' + feature.properties.Date);
	        return marker;
	      }
	     }).addTo(map);
	  });
	  var popup = L.popup();
          map.on('click', function(e) {
            popup
              .setLatLng(e.latlng)
              .setContent(e.latlng.toString())
              .openOn(map)
          });
	</script>
</body>
</html>

